.footerLink {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #fff;
}

.footerLink__element {
  color: #fff;
}
