.section-container {
  background: #080910;
}

.about__vectorFrame {
  position: absolute;
  z-index: -10;
  left: 0;
  bottom: 0;
  width: 55%;
}

.about__vector {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 640px) {
  .about__vectorFrame {
    width: 90%;
  }
}
