.home {
  background: #080910;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 100px 10%;
  min-height: 100vh;
  box-sizing: border-box;
}

.home__headerText {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home__headerText > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  margin: 10px;
}

.home__headerText > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #e5e5e5;
  margin: 10px;
}

.home__headBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 35px 10px 35px;
}

.home__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 36px;
  height: 52px;
  left: 0;
  top: 0px;
  text-decoration: none;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  margin: 4px;
}

.home__btnWhite {
  background: #141621;
  color: white;
}

.home__btnTransparent {
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
}

.home__btn:hover {
  box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-in-out;
}

.home__btnText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}

.home__splashImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__anime {
  margin-bottom: -80px;
}

/* For small height screen sizes */
@media only screen and (max-height: 550px) {
  .home__anime {
    width: 400px;
  }
}

/* For small width screens */
@media only screen and (max-width: 640px) {
  .home__anime {
    width: 80%;
    align-self: center;
    margin-bottom: -20px;
  }

  .home__headBtns {
    margin: 10px 10px 35px 10px;
  }
}
